#a{
    border:2px solid red;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.B{
    border: 2px solid rgb(30, 50, 100);
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.C{
    border: 2px solid rgb(30, 50, 100);
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.D{
    border: 2px solid rgb(30, 50, 100);
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}